#controls {
    width: 100%;
    height: auto;
    margin: 100px auto 0;
    position: relative;
}

.map-slider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 100px;
    position: relative;
    height: 13px;
    background-color: #8e8d8d;
    background: url('images/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px rgba(250, 250, 250, .5);
    left: 20px;
}

.tooltip {
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url('images/handle.png') no-repeat 50% 50%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -7px;
    margin-left: -12px;
}
.ui-slider-range {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}

#timeline h4 {
    text-align: center;
    color: #ccc;
    text-shadow: #000 1px 1px 2px;
    margin-bottom: 5px;
}

#timeline {
    width: 100%;
    max-width: 604px;
    height: 350px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('images/timeline/dot.gif') left 45px repeat-x;
}

#dates {
    width: 100%;
    max-width: 604px;
    height: 60px;
    overflow: hidden;
}
#dates li {
    list-style: none;
    float: left;
    width: 120px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    background: url('images/timeline/biggerdot.png') center bottom no-repeat;
}
dates a {
    line-height: 24px;
    padding-bottom: 10px;
}
#dates .selected {
    font-size: 24px;
}

#issues {
    width: 604px;
    height: 350px;
    overflow: hidden;
}
#issues li {
    width: 604px;
    height: 350px;
    list-style: none;
    float: left;
}
#issues li.selected img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
#issues li img {
    float: left;
    margin: 10px 30px 10px 50px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out; 
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.7,0.7);
    -moz-transform: scale(0.7,0.7);
    -o-transform: scale(0.7,0.7);
    -ms-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
}
#issues li h1 {
    color: #ffcc00;
    font-size: 48px;
    margin: 20px 0;
    text-shadow: #000 1px 1px 2px;
}
#issues li p {
    font-size: 14px;
    margin-right: 70px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
}

#grad_left,
#grad_right {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
}
    #grad_left {
        left: 0;
        background: url('images/timeline/grad_left.png') repeat-y;
    }
    #grad_right {
        right: 0;
        background: url('images/timeline/grad_right.png') repeat-y;
    }

#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
#next:hover, #prev:hover {
    background-position: 0 -76px;
}
#next {
    right: 0;
    background-image: url('images/timeline/next.png');
}
#prev {
    left: 0;
    background-image: url('images/timeline/prev.png');
}
#next.disabled, #prev.disabled {
    opacity: 0.2;
}